@charset "utf-8";
/* CSS Document */

#head {
	background-color: rgba(35,228,40,0.7);
	letter-spacing: 1px;
	word-spacing: 3px;
	height: 100px;
	width: 98.6%;
	margin-top: -8px;
	margin-left: -6px;
	padding-top: 12px;
	padding-left: 30px;
	border: 1px groove rgba(38,210,129,0.7);
	z-index: 500;
}
#mnubar {
	position: absolute;
	left: 264px;
	top: 20px;
	height: 31px;
	width: 763px;
}
#home,#friends,#updates,#messages,#photos,#settings,#signout {
	height: 25px;
	width: 90px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-size: 18px;
	background-color: rgba(153,255,204,0.1);
	word-spacing: 1px;
	display: table-cell;
	text-align: center;
	margin-left: 4px;
	margin-right: 1px;
	z-index: 2000;
	float:left;
}
#myprofile {
	height: 25px;
	width: 93px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-size: 18px;
	background-color: rgba(153,255,204,0.1);
	word-spacing: 1px;
	display: table-cell;
	text-align: center;
	margin-left: 4px;
	margin-right: 1px;
	z-index: 2000;
	float:left;
}
#home:hover,#friends:hover,#updates:hover,#messages:hover,#photos:hover,#settings:hover,#signout:hover {
	height: 28px;
	width: 95px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-size: 20px;
	background-color:rgba(100,179,53,0.8);
	word-spacing: 1px;
	letter-spacing:1px;
	display: table-cell;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 2080;
	float:left;
	border-radius: 6px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
}
#myprofile:hover {
	height: 28px;
	width: 98px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-size: 19px;
	background-color:rgba(100,179,53,0.8);
	word-spacing: 1px;
	letter-spacing:1px;
	display: table-cell;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 2080;
	float:left;
	border-radius: 6px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
}

#src {
	height: 29px;
	width: 169px;
	z-index: 3000;
	position: absolute;
	left: 1036px;
	top: 43px;
	clear: both;
	border: 1px solid rgba(91,91,91,1);
	background: url(../images/search.png) rgba(255,255,255,1) center right no-repeat;
	border: 1px groove #78BB35;
	border-radius: 6px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
}
#txtsrc {
	border: 0px;
	outline: 0px;
	padding: 2px;
	position: absolute;
	height: 26px;
	width: 100;
	top: 0px;
	left: 2px;
	z-index: 2500;
	background: transparent;
	font-size: 12px;
	border-radius: 18px 0 0 20px;
	-webkit-border-radius: 18px 0 0 20px;
	-moz-border-radius: 18px 0 0 20px;
	-o-border-radius: 18px 0 0 20px;
}
#btnsrc {
	border: 0px;
	outline: 0px;
	position: absolute;
	left: 135px;
	top: 0px;
	background: transparent;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	width: 35px;
	}	

#main {
	background-color: rgba(217,248,146,0.6);
	letter-spacing: 1px;
	word-spacing: 2px;
	width:1235px;
	height: 580px;
	margin-top: -50px;
	margin-left: 35px;
	padding-top: 20px;
	padding-left: 30px;
	border: 1px solid rgba(33,156,197,0.7);
	z-index: 900;
}
#topleft {
	background-color: rgba(214,240,123,0.7);
	letter-spacing: 1px;
	word-spacing: 2px;
	height: 200px;
	width: 497px;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 10px;
	border: 1px groove rgba(51,255,102,1);
	position: absolute;
	z-index: 1100;
	left: 53px;
	top: 72px;
}

#topright {
	background-color: rgba(214,240,123,0.7);
	letter-spacing: 1px;
	word-spacing: 2px;
	height: 515px;
	width: 702px;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 10px;
	border: 1px groove rgba(51,255,102,1);
	position: absolute;
	z-index: 1100;
	left: 573px;
	top: 73px;

}
#midleft {
	background-color: rgba(214,240,123,0.7);
	letter-spacing: 1px;
	word-spacing: 2px;
	height: 293px;
	width: 498px;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 10px;
	border: 1px groove rgba(51,255,102,1);
	position: absolute;
	z-index: 1100;
	left: 53px;
	top: 293px;
}
#photo {
	background-color: rgba(253,253,253,1);
	height: 135px;
	width: 125px;
	border: 1px solid rgba(102,102,102,1);
	z-index: 1200;
	margin-top: -1px;
	margin-left: -6px;
	position:static;
	float:left;
}
#details {
	background-color: rgba(253,253,253,1);
	height: 135px;
	width: 350px;
	z-index: 1200;
	margin-top: -1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 132px;
	padding-left:5px;
	position:static;
	
}
#photobottom {
	background-color: rgba(253,253,253,1);
	height: 45px;
	width: 490px;
	z-index: 1200;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -6px;
	padding-left:5px;
	padding-top: 5px;
	position:static;
}

#txtEMP {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: rgba(11,152,193,1);
}
#txtEMP:hover {text-decoration:underline;}
#noFrnd {
	height: 37px;
	width: 51px;
	z-index: 1200;
	position: absolute;
	left: 439px;
	top: 155px;
}
#frndhead {
	font-family: "Comic Sans MS", cursive;
	font: 16px italic;
	color: rgba(64,0,64,0.9);
	width: 502px;
	height: 26px;
	border-bottom: 2px groove rgba(241,67,198,0.6);
	z-index: 1300;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
	padding-left: 5px;
	padding-top: 5px;
	background-color:rgba(254,233,250,0.9);
	letter-spacing: 2px;
	margin-top: -5px;
}
#pnlfrnd {
	color: rgba(64,0,64,0.9);
	width: 430px;
	height:auto;
	border: 1px groove rgba(207,243,124,0.6);
	z-index: 1350;
	margin-left: -10px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: rgba(219,241,188,0.5);
	letter-spacing: 2px;
	margin-top: 20px;
}
#frndntf {
	background-color: rgba(253,253,253,1);
	width: 285px;
	height:auto;
	border: 1px groove rgba(207,243,124,0.4);
	z-index: 1380;
	margin-left: -6px;
	padding-left: 5px;
	padding-top: 5px;
	letter-spacing: 2px;
	margin-top: 5px;
	float:left;
}
#frndntfbox {
	height:auto;
	width:auto;
	margin-top:3px;
	margin-bottom:4px;
	margin-left:0px;
	border-bottom:groove rgba(255,0,0,1);
}
#frndntfphoto {
	background-color: rgba(253,253,253,1);
	height: 45px;
	width: 45px;
	border: 1px solid rgba(102,102,102,1);
	z-index: 1400;
	margin-top: -6px;
	margin-left: -6px;
}
#frndntfname {
	background-color:rgba(253,253,253,1);
	height: 33px;
	width: 170px;
	z-index: 1380;
	margin-top: -41px;
	margin-left: 41px;
	padding-left:2px;
	padding-top: 4px;
	position:relative;
	font-size:16px;
	letter-spacing:0.6px;
	word-spacing:0.1px;
}
#frndntfstatus {
	background-color: rgba(253,253,253,1);
	height: 32px;
	width: 70px;
	z-index: 1380;
	margin-top: -37px;
	margin-left: 213px;
	padding-left:2px;
	alignment-adjust:central;
	padding-top: 5px;
	position:relative;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:oblique;
	font-size:15px;
	letter-spacing:0.6px;
	word-spacing:0.1px;

}
#frndlist {
	background-color: rgba(253,253,253,1);
	width: 208px;
	height:210px;
	border: 1px groove rgba(207,243,124,0.4);
	z-index: 1390;
	margin-left: 289px;
	padding-top: 5px;
	letter-spacing: 2px;
	margin-top: 5px;
}
#frndlistscrlbr {
	height:210px;
	margin-top:-4px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#frndlistscrlbr::-webkit-scrollbar {
	width:6px;
	background-color:rgba(0,102,255,1);
	border-radius:20px ;
}
#frndlistscrlbr::-webkit-scrollbar-thumb:hover {
	background-color:rgba(102,51,102,1);
	border:1px solid #333333;
}
#frndlistscrlbr::-webkit-scrollbar-thumb:active {
	background-color:rgba(248,50,124,1));
	border:1px solid rgba(242,180,85,1);
	border-radius:10px;
}
#frndlistscrlbr::-webkit-scrollbar-track {
	border:1px gray solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px gray inset;
}

#frndlistbox {
	height:auto;
	width:195px;;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:6px;
	padding-top:2px;
	border-bottom:groove rgba(255,0,0,1);
	
}
#frndlistphoto {
	background-color: rgba(253,253,253,1);
	height: 45px;
	width: 45px;
	border: 1px solid rgba(102,102,102,1);
	z-index: 1400;
	margin-top: -6px;
	margin-left: -6px;
}
#frndlistname {
	background-color:rgba(253,253,253,1);
	height: 34px;
	width: 150px;
	z-index: 1380;
	margin-top: -41px;
	margin-left: 41px;
	padding-left:2px;
	padding-top: 4px;
	position:relative;
	font-size:16px;
	letter-spacing:0.6px;
	word-spacing:0.1px;
}
#lblntf {
	position: absolute;
	background: rgba(145,217,150,0.9);
	left: 21px;
	top: 37px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	width: auto;
}
#lblfrndlist {
	position: absolute;
	background: rgba(145,217,150,0.9);
	left: 300px;
	top: 37px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	width: auto;
}
#moresug {
	position: relative;
	bottom: -10px;
	z-index:1350;
	background: rgba(145,217,150,0.9);
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	width: 166px;
	left: 155px;
}
a:link {
	text-decoration: none;
}
#myfrnd {
	font-family: "Comic Sans MS", cursive;
	font: 18px italic;
	color: rgba(64,0,64,0.9);
	width: 706px;
	height: 26px;
	border-bottom: 2px groove rgba(241,67,198,0.6);
	z-index: 1300;
	margin-left: -10px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: rgba(254,233,250,0.9);
	letter-spacing: 2px;
	margin-top: -5px;
}
#activity {
	position: absolute;
	background: rgba(145,217,150,0.9);
	left: 2px;
	top: 35px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	width: 160px;
}
#fsearch {
	color: rgba(64,0,64,0.9);
	width: 430px;
	height: 65px;
	border: 1px groove rgba(207,243,124,0.6);
	z-index: 1300;
	margin-left: -11px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: rgba(219,241,188,0.5);
	letter-spacing: 2px;
	margin-top: 5px;
}
#frmsearch {
	margin-top: 15px;
	margin-left: -6px;
	width:427px;
	height:30px;
	margin-top: 20px;
	margin-left: -2px;
	background:rgba(204,204,204,1) ;
	background: url(../images/sfriend.png) rgba(255,255,255,1) center right no-repeat;
	border-radius: 6px 0 0 7px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
}
#txtsearch {
	border: 0px;
	outline: 0px;
	width:300px;
	height:26px;
	padding: 1px;
	margin-top: 0.5px;
	margin-left: 10px;
	resize:none;
	border-radius: 5px 0 0 6px
}
#btnsearch {
	position: absolute;
	border: 0px;
	outline: 0px;
	left: 322px;
	top: 63px;
	width: 107px;
	height: 32px;
	background: transparent;
	border-radius: 100%;
	cursor: pointer;
	color:rgba(0,0,0,0.3);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:oblique;
	font-size:17px;
}
#btnsearch:hover {
	position: absolute;
	left: 321px;
	top: 63px;
	height: 31px;
	width: 109px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:oblique;
	font-size:17px;
	color:rgba(253,253,253,1);
	background-color:rgba(100,179,53,0.6);
	text-align: center;
	z-index: 2080;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
}
#srcfrndbod {
	background-color: rgba(253,253,253,1);
	height: auto;
	width: 427px;
	z-index: 1200;
	margin-top: 3px;
	margin-left: -6px;
	padding-top: 5px;
	padding-bottom: 3px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:oblique;
	font-size:17px;
	letter-spacing:0.6px;
	word-spacing:0.4px;
}
#searchfrndbox {
	height:auto;
	width:auto;
	margin-top:3px;
	margin-bottom:4px;
	margin-left:0px;
	border-bottom:groove rgba(255,0,0,1);
	border-right:groove rgba(255,0,0,1);
}
#srcfrndphoto {
	background-color: rgba(253,253,253,1);
	height: 40px;
	width: 40px;
	border: 1px solid rgba(102,102,102,1);
	z-index: 1400;
	margin-top: -1px;
	margin-left: 1px;
}
#srcfrndname {
	background-color: rgba(243,243,243,0.5);
	height: 38px;
	width: 245px;
	z-index: 1380;
	margin-top: -42px;
	margin-left: 43px;
	padding-left:5px;
	padding-top: 2px;
	position:relative;
	border: 1px solid rgba(243,243,243,0.7);
}
#srcfrndstatus {
	background-color: rgba(243,243,243,0.5);
	height: 37px;
	width: 131px;
	z-index: 1380;
	margin-top: -42px;
	margin-left: 295px;
	padding-left:-1px;
	padding-top: 3px;
	position:relative;
	border: 1px solid rgba(243,243,243,0.7);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:oblique;
	font-size:15px;
	letter-spacing:0.6px;
	word-spacing:0.1px;
	
}
